.modal-header
  h3.modal-title Confirm
.modal-body
  h4 Are you sure, that you want to delete following url?
  p {{$ctrl.originalUrl.length > 50 ? $ctrl.originalUrl.slice(0,50) + '...' : $ctrl.originalUrl}}
.modal-footer
    button.btn.btn-danger(type='button' ng-click='$ctrl.ok()') OK
    button.btn.btn-primary(type='button' ng-click='$ctrl.cancel()') Cancel