header
    include navbar
main.main
    .container
        include flash
        ui-view
footer.footer
    .container
        p.text-muted.center 
            a.personal(href='https://github.com/radchenk0' target='_blank') Radchenko