.alerts-container(uib-alert 
                  ng-repeat='alert in $ctrl.alerts'
                  ng-class="'alert-' + (alert.type || 'warning')"
                  dismiss-on-timeout='7000'
                  close='$ctrl.closeAlert($index)') {{alert.msg}}