.messages
    p(ng-message='required') Field is required
    p(ng-message='email') Provide valid e-mail address
    p(ng-message='minlength') Field is too short
    p(ng-message='compareTo') Passwords should be the same